.app > .wrapper{
    margin:20px;
    border:black 0.5px solid;
    padding: 10px;
}

.app > .wrapper > ul > li{
    margin:10px 5px;
}

.row-item{
    border: 1px solid;
    padding: 10px;
    box-shadow: 1px 1px #888888;
    width: 420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 8px;
}

.row-item > .row-btn {
    background-color: aquamarine;
    border-radius: 4px;
}

.row-item > .btn-remove {
    background-color: #ff4223;
}
.row-item.row-disabled {
    background-color: #9aa19f;
    opacity: 0.4;
}